{% extends 'base.html.twig' %}

{% block title %}Po pamokų{% endblock %}

{% block body %}
<header class="bg-profile">
    <div class="container">
        <div class="row align-items-end min-height">
            <div class="col-12">
                <h2 class="text-white pb-4">Jūsų informacija</h2>
            </div>
        </div>
    </div>
</header>
<div class="container py-5">
    {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_profile') }}" class="btn btn-light border-rad mb-3">Atgal</a>
        {% else %}
                <a href="/" class="btn btn-light border-rad mb-3">Atgal</a>

        {% endif %}
    <table class="table">
        {% for key, val in profileVars %}
            {% if key != 'Būrelis' %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ val }}</td>
                </tr>
            {% elseif is_granted('ROLE_OWNER')%}
                <tr>
                    <th>{{ key }}</th>
                    <td>
                        <a href="{{ path('activity_show', {'id': val }) }}" class="btn btn-light border-rad">
                            Peržiūrėti
                        </a>
                        <a href="{{ path('activity_edit', {'id': val }) }}" class="btn btn-light border-rad">
                            Redaguoti
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
      <a href="{{ path('profile_edit') }}" class="btn btn-green mr-1 mr-md-3">Redaguoti profilį</a>
    <a href="{{ path('change_password') }}" class="btn myPlace-btn">Keisti slaptažodį</a>
</div>
  

{% endblock %}
