{% extends 'base.html.twig' %}

{% block body %}
<div class="registration-bg">
<div class="container card">
 <div class="row">
 <div class="col-12 col-md-5 bg-blue">
<div class="registration-aside">
  <h1 class="registration-header">Registracija</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
</div>
 <div class="col-12 col-md-7">
 <div class="registration-form">
    {{ form_start(form) }}
    
     {{ form_row(form.name, {
                        'label': 'Vardas'
                    }) }}
                   
                    {{ form_row(form.surname, {
                        'label': 'Pavardė'
                    }) }}
                    {{ form_row(form.email, {
                        'label': 'Elektroninio pašto adresas'
                    }) }}
                    {{ form_row(form.plainPassword.first, {
                        'label': 'Slaptažodis'
                    }) }}
                    {{ form_row(form.plainPassword.second, {
                        'label': 'Pakartoti slaptažodį'
                    }) }}
                   
                    {{ form_row(form.phoneNumber, {
                        'label': 'Telefono numeris'
                    }) }}
                 
                    {{ form_row(form.role) }}
                    <button type="submit" class="btn btn-register" formnovalidate>Registruotis</button>
{{ form_end(form) }}
</div>
</div>
</div>
</div>
</div>
{% endblock %}