{% extends 'base.html.twig' %}

{% block body %}
<div class="registration-bg">
    <div class="container registration-cont">
        <div class="card">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-5 bg-blue">
                    <div class="registration-aside row no-gutters">
                        <h1 class="registration-header">Registracija</h1>
                        <p class="lead">Po pamokų - tai platforma skirta atrasti įdomiausius būrelius ir po pamokines veiklas.
                        Smagiausi užsiėmimai skirti įvairių amžiaus grupių vaikams bei jaunuoliams.</p>
                        <p>
                            <a class="link" href="{{ path('registration', {'role': 'user'}) }}">Registruokitės</a>, kad galėtumėte susisiekti su būrelių vadovais, palikti atsiliepimus bei įventinti išbandytas veiklas.</p>
                        <p>Jeigu esate būrelio vadovas,
                        <a class="link" href="{{ path('registration', {'role': 'owner'}) }}">registruokitės</a>, norėdami sukurti savo būrelio profilį.</p>
                        <div class="col-12">
                            <p>Jau registravotės?</p>
                            <a href="{{ path('login') }}" class="btn btn-register mr-2">Prisijungti</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-7 bg-white">
                    <div class="registration-form">
                        {% if form.getChildren['description'] is defined %}
                            {{ include('security/_activityForm.html.twig') }}
                        {% else %}
                            {{ form_start(form) }}
                            {% for child in form.children %}
                                {% if child.vars.name != 'next' and child.vars.name != 'back' and child.vars.name != 'register'%}
                                    {{ form_row(child) }}
                                {% endif %}
                            {% endfor %}
                            {% if form.getChildren['back'] is defined %}
                                {{ form_row(form.back) }}
                            {% endif %}
                            {% if form.getChildren['next'] is defined %}
                                {{ form_row(form.next) }}
                            {% endif %}
                            {% if form.getChildren['register'] is defined %}
                                {{ form_row(form.register) }}
                            {% endif %}
                            {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        var $addTagLink = $('<a href="#" class="add_tag_link">Pridėti</a>');
        var $newLinkLi = $('<div></div>').append($addTagLink);

        $(document).ready(function() {
            // Get the ul that holds the collection of tags
            var $collectionHolder = $('div#activity_timetables');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            newForm = newForm.replace(/label__/g, '');

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);

            // also add a remove button, just for this example
            $newFormLi.append('<a href="#" class="remove-tag">x</a>');

            $newLinkLi.before($newFormLi);

            // handle the removal, just for this example
            $('.remove-tag').click(function(e) {
                e.preventDefault();

                $(this).parent().remove();

                return false;
            });
        }

    </script>
{% endblock %}