{% if not app.user %}
    <p>Atsiliepimus gali palikti tik registruoti vartotojai.</p>
    <a href="{{ path('login') }}" class="btn btn-green mr-2">Prisijungti</a>
    <a class="btn btn-green" href="{{ path('registration', {'role': 'user'}) }}">Registruotis</a>
{% else %}
    {% if post %}
        {{ form_start(form, {
            'class': 'form-inline',
            'attr': {
                'id': 'commentForm',
                'name': 'comment'
            }
        }) }}
        {{ form_row(form.commentText) }}
        <button type="submit" class="btn btn-green" formnovalidate>Siųsti atsiliepimą</button>
        {{ form_end(form) }}
    {% else %}
        <p>Komentarą būrelio puslapyje galima palikti kartą per 24h</p>
    {% endif %}
{% endif %}


