{{ form_start(ratingForm, {
        'name': 'ratingForm',
        'attr': {
            'id': 'ratingForm'
        }
    }) }}
    <div class="rate-area">
    {% for radioRate in ratingForm.rating %}
         {# {{ form_label(radioRate, null, {'label_attr': {'class':'radio-inline'}}) }}
            {{ form_widget(radioRate, {'attr': {'class': 'radio-inline'}}) }} #}
            {# <i class="fas fa-star star"></i> #}
             
            {{ form_widget(radioRate) }}
            {{ form_label(radioRate, null) }}
    {% endfor %}
    </div>

    {% if rate %}
        <button type="submit" class="btn btn-green" formnovalidate>Pakeisti įvertinimą</button>
    {% else %}
        <button type="submit" class="btn btn-green" formnovalidate>Įvertinti</button>
    {% endif %}

{{ form_end(ratingForm) }}
{# <ul class="rate-area">
  <input type="radio" id="5-star"/>
  <label for="5-star"></label>
  <input type="radio" id="4-star"/>
  <label for="4-star"></label>
  <input type="radio" id="3-star"/>
  <label for="3-star"></label>
  <input type="radio" id="2-star"/>
  <label for="2-star"></label>
  <input type="radio" id="1-star"/>
  <label for="1-star"></label>
</ul> #}