{% extends 'base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
    {% if activities %}
        <table id="activities" class="table table-striped">
            <thead>
            <tr>
                <th>Būrelis</th>
                <th>Miestas</th>
                <th>Kaina</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.location.city.name }}</td>
                    <td>{{ activity.priceFrom }} - {{ activity.priceTo }}</td>
                    <td>
                        <a href="/activity/{{ activity.id }}" class="btn btn-dark">Show</a>
                        <a href="/admin/activity/edit/{{ activity.id }}" class="btn btn-light">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(activities) }}
        </div>
    {% else %}
        <p>No activities to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}