{% extends 'base.html.twig' %}

{% block title %}{{ activity.name }}{% endblock %}

{% block body %}
<header class="bg-profile">
    <div class="container">
        <div class="row align-items-end min-height">
            <div class="col-12">
                <h1 class="text-white pb-4">{{ activity.name }}</h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row pb-4 pt-2">
    {% if activity  %}
        <div class="col-12 my-3">
            <a class="btn btn-light" href="/">Atgal</a>
        </div>
        <div class="col-12 col-lg-6">

        <table class="table">
  <tbody>
    <tr>
      <th scope="row">Įvertinimas</th>
      <td>{{ activity.rating }} (Įvertinimų kiekis: {{ activity.ratingCount }})</td>
    </tr>
    <tr>
      <th scope="row">Kaina</th>
      <td>{{ activity.priceFrom }} - {{ activity.priceTo }}</td>
    </tr>
    <tr>
      <th scope="row">Amžius</th>
      <td>{{ activity.ageFrom }} - {{ activity.ageTo }}</td>
    </tr>
     <tr>
      <th scope="row">Adresas</th>
      <td>{{ activity.location.street }} {{ activity.location.house }}{% if activity.location.apartment %}-{{ activity.location.apartment }}{% endif %},
            {{ activity.location.city.name }}</td>
    </tr>
     <tr>
      <th scope="row">Tvarkaraštis</th>
      <td>
          {% for timetable in activity.timetables %}
                <p class="info-value">{{ timetable.weekday.name }}:</p>
                <p>{{ timetable.timeFrom|date("H:i") }} - {{ timetable.timeTo|date("H:i") }}</p>
                {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
    </div>
        <div class="col-12 col-lg-6">
            {% if activity.pathToLogo is not empty  %}
                <img class="img-fluid" src="{{ asset( activity.pathToLogo) }}"/>
            {% else %}
                <img class="card-img-top" src="https://placeimg.com/640/480/any" alt="Card image cap" />
            {% endif %}

        </div>
    </div>
        {% endif %}

      

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Aprašymas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Atsiliepimai</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class="py-4 px-2">{{ activity.description }}</p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="py-4 px-2" id="rating">
                {{ include('activity/_ratingForm.html.twig') }}
            </div>
            <div class="py-4 px-2" id="comment">
                {{ include('activity/_commentForm.html.twig') }}
            </div>
            <div id="comments"></div>
        </div>
    </div>



</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/comments.js') }}"></script>
{{ parent() }}
{% endblock %}
