<table class="table">

    <thead>
        <tr>
            <th>{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}participant{% endtrans %}</th>
            {# <th>{% trans from 'FOSMessageBundle' %}startdate{% endtrans %}</th> #}
            <th>{% trans from 'FOSMessageBundle' %}messages{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}actions{% endtrans %}</th>
        </tr>
    </thead>

    <tbody>

    {% if threads %}
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.0.id}) }}">
                        {{ thread.0.subject }}
                    </a>

                    {% if not fos_message_is_read(thread.0) %}
                        ({% trans from 'FOSMessageBundle' %}new{% endtrans %})
                    {% endif %}
                </td>
                <td>
                    {{ thread.name }}
                </td>
                {# <td>
                    {{ thread.0.createdAt|date }}
                </td> #}
                <td>
                    {{ thread.0.messages|length }}
                </td>
                <td>
                    {% if thread.0.lastMessage %}
                        <a
                            href="{{ url('fos_message_thread_view', {'threadId': thread.0.id}) }}#message_{{ thread.0.lastMessage.id }}"
                            title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}"
                        >
                            →
                        </a>
                        {% trans with {'%date%': thread.0.lastMessage.createdAt|date} from 'FOSMessageBundle' %}on{% endtrans %}
                        <br />
                        {% trans with {'%sender%': thread.0.lastMessage.sender.name|e } from 'FOSMessageBundle' %}by{% endtrans %}
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td>
                    {% if fos_message_can_delete_thread(thread.0) %}
                        {% if fos_message_deleted_by_participant(thread.0) %}
                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.0.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.0.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                        {% endif %}
                        <form action="{{ formAction }}" method="post">
                            <input class="btn btn-danger border-rad" type="submit" value="{{ submitValue }}" />
                            <a class="btn btn-green border-rad text-capitalize"
                                href="{{ url('fos_message_thread_view', {'threadId': thread.0.id}) }}"
                            >
                                {% trans from 'FOSMessageBundle' %}preview{% endtrans %}
                            </a>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}.btn.btn-green
        <tr>
            <td colspan="6">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>