
<nav id="navbar" class="navbar navbar-expand-sm nav-trans fixed-top">
    <div class="container">
        <a href="/" class="navbar-brand logo">
            Po pamokų
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"><i class="fas fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-center">
                    <a href="/" class="nav-link">Pagrindinis</a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{ path('login') }}" class="nav-link btn btn-green">Prisijungti</a>
                    </li>
                    <li class="nav-item ml-0 my-2 my-sm-0 ml-sm-2">
                        <div class="dropdown">
                            <a class="nav-link btn btn-green dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Registruoti
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('registration', {'role': 'user'}) }}">Vartotoją</a>
                                <a class="dropdown-item" href="{{ path('registration', {'role': 'owner'}) }}">Būrelį</a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item ml-0 my-2 my-sm-0 ml-sm-2">
                        <div class="dropdown">
                            <a class="nav-link btn btn-green dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if is_granted('ROLE_ADMIN') %}
                                    Admin
                                {% else %}
                                    {{ app.user.email }}
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_profile') }}" class="dropdown-item">Profilis</a>
                                {% else %}
                                <a href="{{ path('profile') }}" class="dropdown-item">Profilis</a>
                                {% endif %}
                                <a href="{{ path('fos_message_inbox') }}" class="dropdown-item">Žinutės</a>
                                <a href="{{ path('logout') }}" class="dropdown-item">Atsijungti</a>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
